In [8]:
import numpy as np
from scipy.stats import moment
import pandas as pd
pd.options.display.float_format = '{:.4f}'.format

In [9]:
# female heights
normal = [67,70,63,65,68,60,70,64,69,61,66,65,71,62,66,68,64,67,62,66,65,63,66,65,63,69,62,67,59,66,65,63,65,60,67,64,68,61,69,65,62,67,70,64,63,68,64,65,61,66]
# age at marriage for females
skewed_r = [31,40,43,24,30,29,30,24,38,27,26,35,29,33,55,75,46,38,26,34,29,85,57,29,34,40,34,41,36,35,40,26,28,34,26,19,66,23,63,28,30,26,33,31,24,25,35,22,34,28]
# obituary data that give the age at death for females
skewed_l = [102,87,55,104,70,75,95,80,73,66,79,93,60,90,73,84,89,73,85,98,72,79,92,35,76,71,93,90,76,71,97,63,10,58,70,82,85,72,25,93,83,44,58,65,10,77,92,81,82,77]
# amount of cola put into a 12 ounce container by a soft drinks machine
uniform = [12.1,11.6,12.1,11.6,12.4,12.0,12.1,11.6,12.1,11.6,12.2,11.7,12.2,12.3,12.2,11.7,11.9,11.7,12.2,11.7,12.3,11.8,12.3,12.5,11.7,11.8,12.3,11.8,12.3,11.8,12.4,11.9,12.4,11.9,12.1,11.9,12.4,12.2,12.4,11.9,12.5,12.0,11.8,11.9,12.5,12.0,12.5,12.0,12.5,12.0]

1. Find the (a) first, (b) second, (c) third, and (d ) fourth moments for each of the sets of data (normal, skewed-right, skewed-left, uniform).

In [19]:
def moments(data):
    n = len(data)
    m1 = np.sum(data) / n
    m2 = np.sum(np.power(data,2)) / n
    m3 = np.sum(np.power(data,3)) / n
    m4 = np.sum(np.power(data,4)) / n
    
    return m1,m2,m3,m4

normal_moments = moments(normal)
skew_right_moments = moments(skewed_r)
skew_left_moments = moments(skewed_l)
uniform_moments = moments(uniform)

normal_moments_df = pd.DataFrame({'Normal': normal_moments})
skew_right_moments_df = pd.DataFrame({'Skewed-Right': skew_right_moments })
skew_left_moments_df = pd.DataFrame({'Skewed-Left': skew_left_moments })
uniform_moments_df = pd.DataFrame({'Uniform': uniform_moments })
moments_df = (pd.concat([normal_moments_df,skew_right_moments_df,skew_left_moments_df,uniform_moments_df],axis=1))

moments_df = moments_df.rename(index={0:'1st Moment', 1:'2nd Moment', 2:'3rd Moment', 3:'4th Moment'})
moments_df

                  Normal  Skewed-Right   Skewed-Left    Uniform
1st Moment       65.1200       35.4800       74.2000    12.0560
2nd Moment     4248.9200     1437.7200     5925.4000   145.4260
3rd Moment   277770.9200    68292.4400   489458.8000  1755.1578
4th Moment 18194173.6400  3797594.0400 41396161.4800 21194.5933

2. Find the (a) first, (b) second, (c) third, and (d ) fourth moments about the mean for each of the sets of data (normal, skewed-right, skewed-left, uniform).

In [11]:
def moments_mean(data):
    n = len(data)
    mean = np.mean(data)
    m1 = np.sum((data - mean) ** 1) / n
    m2 = np.sum((data - mean) ** 2) / n
    m3 = np.sum((data - mean) ** 3) / n
    m4 = np.sum((data - mean) ** 4) / n
    
    return m1,m2,m3,m4

normal_moments_mean = moments_mean(normal)
skew_right_moments_mean = moments_mean(skewed_r)
skew_left_moments_mean = moments_mean(skewed_l)
uniform_moments_mean = moments_mean(uniform)

normal_moments_mean_df = pd.DataFrame({'Normal':normal_moments_mean})
skew_right_moments_mean_df = pd.DataFrame({'Skewed-Right': skew_right_moments_mean})
skew_left_moments_mean_df = pd.DataFrame({'Skewed-Left': skew_left_moments_mean})
uniform_moments_mean_df = pd.DataFrame({'Uniform': uniform_moments_mean})

moments_mean_df = pd.concat([normal_moments_mean_df, skew_right_moments_mean_df, skew_left_moments_mean_df, uniform_moments_mean_df], axis=1)
moments_mean_df = moments_mean_df.rename(index={0:'1st Moment', 1:'2nd Moment', 2:'3rd Moment', 3:'4th Moment'})
moments_mean_df

             Normal  Skewed-Right  Skewed-Left  Uniform
1st Moment  -0.0000        0.0000      -0.0000   0.0000
2nd Moment   8.3056      178.8896     419.7600   0.0789
3rd Moment  -0.4717     4588.1284  -12498.2640   0.0003
4th Moment 160.9486   210642.8834  927289.7472   0.0113

3. Find the (a) first, (b) second, (c) third, and (d ) fourth moments about the number 75 for the set of female height measurements.

In [12]:
def moments_75(data):
    n = len(data)
    m1 = np.sum(np.power([x - 75 for x in data],1)) / n
    m2 = np.sum(np.power([x - 75 for x in data],2)) / n
    m3 = np.sum(np.power([x - 75 for x in data],3)) / n
    m4 = np.sum(np.power([x - 75 for x in data],4)) / n
    
    return m1,m2,m3,m4

normal_moments_75 = moments_75(normal)
normal_moments_75_df = pd.DataFrame({'Female Height Measurements':normal_moments_75})

normal_moments_75_df.rename(index={0:'1st Moment', 1:'2nd Moment', 2:'3rd Moment', 3:'4th Moment'})

            Female Height Measurements
1st Moment                     -9.8800
2nd Moment                    105.9200
3rd Moment                  -1211.0800
4th Moment                  14572.6400

4. Using the results of items 2 and 3 for the set of female height measurements, verify the relations between the moments

In [13]:
m1 = normal_moments_mean[0]
m2 = normal_moments_mean[1]
m3 = normal_moments_mean[2]
m4 = normal_moments_mean[3]

m1_75 = normal_moments_75[0]
m2_75 = normal_moments_75[1]
m3_75 = normal_moments_75[2]
m4_75 = normal_moments_75[3]

a) $m_2 = m_2' - m_1'^2$

In [14]:
m2_verify = m2_75 - m1_75**2

print(f'2nd Moment: {round(m2,4)} \n2nd Moment (relation with moments about 75): {round(m2_verify,4)}')

2nd Moment: 8.3056
2nd Moment (relation with moments about 75): 8.3056

b) $m_3 = m_3' - 3m_1'm_2' + 2m_1'^3 $

In [16]:
m3_verify = m3_75 - 3*(m1_75*m2_75) + 2*(m1_75**3)

print(f'3rd Moment: {round(m3,4)} \n3rd Moment (relation with moments about 75): {round(m3_verify,4)}')

3rd Moment: -0.4717
3rd Moment (relation with moments about 75): -0.4717

c) $m_4 = m_4' - 4m_1'm_3' + 6m_1'^2m_2' - 3m_1'^4 $

In [18]:
m4_verify = m4_75 - 4*(m1_75*m3_75) + 6*(m1_75**2)*(m2_75) - 3*(m1_75**4)

print(f'4th Moment: {round(m4,4)} \n4th Moment (relation with moments about 75): {round(m4_verify,4)}')

4th Moment: 160.9486
4th Moment (relation with moments about 75): 160.9486