In [106]:
import pandas as pd
import numpy as np

In [107]:
import random

population = []
elements = ['Marcos1', 'Marcos2', 'Marcos3', 'Marcos4', 'Robredo1', 'Robredo2']


for x in range(15):
    test = random.sample(elements, 4)
    population.append(test)

In [108]:
proportion_robredo = []
proportion_marcos = []


for sample in population:
    robredo_cnt = 0
    marcos_cnt = 0
    for element in sample:
        if 'Robredo1' in sample:
            robredo_cnt +=1
        if 'Robredo2' in sample:
            robredo_cnt +=1
        if 'Marcos1' in sample:
            marcos_cnt +=1
        if 'Marcos2' in sample:
            marcos_cnt +=1
        if 'Marcos3' in sample:
            marcos_cnt +=1
        if 'Marcos4' in sample:
            marcos_cnt +=1
    proportion_robredo.append((robredo_cnt/4)/4)
    proportion_marcos.append((marcos_cnt/4)/4)

In [109]:
population = pd.DataFrame(population)
population = population.transpose()
proportion_robredo = pd.DataFrame(proportion_robredo)
proportion_robredo = proportion_robredo.transpose()
proportion_robredo = proportion_robredo.rename(index={0:'Robredo'})
proportion_marcos = pd.DataFrame(proportion_marcos)
proportion_marcos = proportion_marcos.transpose()
proportion_marcos = proportion_marcos.rename(index={0:'Marcos'})

summary = pd.concat([population, proportion_robredo, proportion_marcos])

summary

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Robredo1,Marcos3,Marcos1,Marcos2,Robredo1,Robredo1,Marcos2,Robredo2,Marcos4,Robredo1,Marcos4,Robredo2,Robredo1,Robredo2,Marcos3
1,Marcos1,Robredo2,Marcos4,Marcos1,Marcos1,Marcos1,Marcos1,Marcos3,Marcos3,Robredo2,Marcos2,Marcos1,Marcos3,Marcos1,Marcos2
2,Robredo2,Robredo1,Marcos2,Robredo2,Robredo2,Marcos4,Marcos3,Marcos1,Marcos1,Marcos2,Marcos1,Robredo1,Marcos2,Marcos3,Marcos1
3,Marcos4,Marcos2,Robredo2,Marcos4,Marcos4,Marcos2,Robredo1,Marcos4,Robredo2,Marcos1,Marcos3,Marcos3,Marcos4,Robredo1,Robredo2
Robredo,0.5,0.5,0.25,0.25,0.5,0.25,0.25,0.25,0.25,0.5,0.0,0.5,0.25,0.5,0.25
Marcos,0.5,0.5,0.75,0.75,0.5,0.75,0.75,0.75,0.75,0.5,1.0,0.5,0.75,0.5,0.75

In [110]:
avg_rob = np.mean(proportion_robredo).round(2)
avg_mar = np.mean(proportion_marcos).round(2)

avg_list = [avg_rob,avg_mar]
avg_df = pd.DataFrame(avg_list)
avg_df = avg_df.rename(index ={ 0:'Robredo', 1: 'Marcos'})
avg_df = avg_df.rename(columns ={ 0:'Average Proportion'})

avg_df

         Average Proportion
Robredo                0.33
Marcos                 0.67