In [4]:
import pandas as pd

In [6]:
scores = [88, 45, 53, 86, 33, 86, 85, 30, 89, 53, 41, 96, 56, 38, 62, 71, 51, 86, 68, 29, 28, 47, 33, 37, 25, 36, 33, 94, 73, 46, 42, 34, 79, 72, 88, 99, 82, 62, 57, 42, 28, 55, 67, 62, 60, 96, 61, 57, 75, 93, 34, 75, 53, 32, 28, 73, 51, 69, 91, 35]

In [30]:
scores_df = pd.DataFrame(pd.Series(scores))
measures = scores_df.agg(['count','median','mean', 'std',  'skew', 'min', 'max'])
measures = measures.rename(index={'count': 'Valid', 'median':'Median', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', 'max': 'Maximum','skew': 'Skewness'})

In [29]:
measures

                            0
Valid               60.000000
Median              57.000000
Mean                59.166667
Standard Deviation  22.210981
Skewness             0.167175
Minimum             25.000000
Maximum             99.000000

In [45]:
percentiles = scores_df.quantile([0.25, 0.50, 0.75, 0.90, 0.95])

percentiles = percentiles.rename(index={0.25: '25th percentile', 0.5: '50th percentile', 0.75: '75th percentile', 0.9: '90th percentile', 0.95:'95th percentile'})

percentiles

                     0
25th percentile  37.75
50th percentile  57.00
75th percentile  76.00
90th percentile  89.20
95th percentile  94.10

In [48]:
table_df = pd.concat([measures,percentiles])
table_df = table_df.rename(columns={0:'Score'})

table_df

                        Score
Valid               60.000000
Median              57.000000
Mean                59.166667
Standard Deviation  22.210981
Skewness             0.167175
Minimum             25.000000
Maximum             99.000000
25th percentile     37.750000
50th percentile     57.000000
75th percentile     76.000000
90th percentile     89.200000
95th percentile     94.100000